<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permisos para usar la cámara y el almacenamiento -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Declara que se utiliza la camara -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CubeSolve_V2"
        tools:targetApi="31">
        <activity
            android:name=".activity_pbl2x2"
            android:exported="false" />
        <activity
            android:name=".activity_oll2x2"
            android:exported="false" />
        <activity
            android:name=".activity_metodos2x2"
            android:exported="false" />
        <activity
            android:name=".activity_pll3x3"
            android:exported="false" />
        <activity
            android:name=".Oll3x3"
            android:exported="false" />
        <activity
            android:name=".metodos3x3"
            android:exported="false" />
        <activity
            android:name=".record2x2"
            android:exported="false" />
        <activity
            android:name=".records_menu"
            android:exported="false" />
        <activity
            android:name=".activity_nota3x3"
            android:exported="false" />
        <activity
            android:name=".activity_elegirAlg"
            android:exported="false" />
        <activity
            android:name=".activity_aesq3"
            android:exported="false" />
        <activity
            android:name=".activity_acruz3"
            android:exported="false" />
        <activity
            android:name=".activity_ccon3"
            android:exported="false" />
        <activity
            android:name=".activity_oesq3"
            android:exported="false" />
        <activity
            android:name=".activity_camed3"
            android:exported="false" />
        <activity
            android:name=".activity_esquinas3"
            android:exported="false" />
        <activity
            android:name=".activity_primcruz3"
            android:exported="false" />
        <activity
            android:name=".activity_pasos_3x3"
            android:exported="false" />
        <activity
            android:name=".menu2x2"
            android:exported="false" />
        <activity
            android:name=".menu3x3"
            android:exported="false" />
        <activity
            android:name=".pruebaNavUsar"
            android:exported="false" />
        <activity
            android:name=".pruebaNav"
            android:exported="false" />
        <activity
            android:name=".activity_aprender"
            android:exported="false" />
        <activity
            android:name=".activity_acerca_de"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>